#Terraform directory
.terraform 

# Terraform variable files
**/*.tfvars
**/*.tfvars.json
**/*.auto.tfvars
**/*.auto.tfvars.json

# Terraform State files
*.tfstate.*
*.tfstate

.terraformrc
terraform.rc